@font-face {
	font-family: 'Blackout';
	src: url('../lib/blackout/blackout_midnight-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Blackout2';
	src: url('../lib/blackout/blackout_two_am-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source';
	src: url('../lib/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$font-family-alpha: "Helvetica", "Arial", sans-serif;
$font-family-beta:  "Blackout", "Helvetica", "Arial", sans-serif;
$font-family-gamma: "Blackout2", "Helvetica", "Arial", sans-serif;
$font-family-mono:  "Source", "Helvetica" "Monaco", "Courier", "Courier New", monospace;